body{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.card{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.slick-prev:before, .slick-next:before{
    color: black;
}

.card-carousel{
	height: 60vh;
}

.game-card{
	height: 60vh;
	width: 40vh;
	margin-left: 20px;
	margin-right: 20px;
}

.initially-hidden{
	display: none;
}

.title{
	margin-top: 30px;
}

.breaker{
	height: 30px;
}

.breaker-sm{
	height: 10px;
}